<!-- <div class="col-md-4"> -->
    <h2>Detalle</h2>
    <div *ngIf="estado; else noEstado">
        <span><b>Pelicula:</b> {{peliculaSeleccionada.nombre}}</span>
        <br>
        <span><b>Fecha estreno:</b> {{peliculaSeleccionada.fecha_estreno}}</span>
        <br>
        <span><b>Cantidad de espectadores: </b>{{peliculaSeleccionada.cantidad_publico}}</span>
        <br>
        <span><b>Tipo:</b> {{peliculaSeleccionada.tipo}}</span>
    </div>
    <ng-template #noEstado>
        <span>Seleccione una pelicula para ver el detalle</span>
        <br><br>
    </ng-template>
        
    <!-- </div> -->
    <p><a class="btn btn-secondary"  role="button" (click)="estado=!estado" >Limpiar &raquo;</a></p>
<!-- </div> -->